section {
  box-sizing: content-box;
  height: 100vh;
}

.movie-figure {
  margin: 0;
  width: 100%;
}

.movie-info-full {
  position: relative;
  padding: 0;
  margin: 0;
}


// This style at the moment is keeping the buttons from ever being active. If it is changed to a different container, the styles look worse but the buttons function.
.movie-figure:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
  z-index: 1;
}

figcaption {
  display: block;
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  padding: 1em;
  font-weight: 700;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.movie-nav {
  background-color: #1AAB8A;
  display: flex;
  height: 113px;
  justify-content: space-between;
}

.movie-backdrop {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.movie-info-overview {
  position: absolute;
  padding: 10px;
}

.sign-in-movie,
.go-home {
  background:#1AAB8A;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-size: 1em;
  outline: none;
  margin: 30px 30px 0px 30px;
  position: relative;
  transition: 800ms ease all;
  width: 110px;
  &:hover{
    background: #fff;
    color: #C3403F;
  }
  &:before,
  &:after {
    background: #1AAB8A;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 400ms ease all;
    width: 0;
  }
  &:after {
    bottom: 0;
    left: 0;
    right: inherit;
    top: inherit;
  }
  &:hover:before, 
  &:hover:after {
    transition: 800ms ease all;
    width: 100%;
  }
}