.MovieCard {
  background: white;
  border: #cecece 1px solid;
  box-shadow: 2px 2px 2px 1px #e8e8e8;
  display: flex;

  .movie-poster {
    width: 200px;
  }

  .movie {
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: space-between;
    padding: 10px;
    width: 100%;

    .movie-title {
      font-size: 28px;
      margin: 0px;
    }

    .movie-release {
      font-size: 16px;
      font-weight: 200;
      margin: 5px 0px;
    }

    .favorite-btn {
      border: none;
      text-align: right;

      .favorite-heart {
        width: 25px;
        height: 25px;
      }
    }
  }

}